.aboutus-title{
    background: rgb(86,143,246);
    background: linear-gradient(0deg, rgba(86,143,246,1) 0%, rgba(166,2,155,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: xx-large;
  }
 p.aboutus{
    color: antiquewhite;
  }
  



