/*card*/
.card {
  max-width: 200px;
}

.card-text {
  margin-bottom: 0;
}

.card-text > div > p {
  margin-bottom: 0px;
}

.card-body {
  text-align: left;
}

.likeButton {
  background-color: none !important;
  border: none !important;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  float: right;
  position: absolute;
  right: 0%;
  text-align: right;
  margin-top: 0px;
}

.likeButton:hover {
  background-color: rgba(0, 0, 0, 0) !important;
  color: none;
}

.likeButton:focus {
  border: rgba(0, 0, 0, 0) !important;
}

.fa-heart {
  color: red;
}

.fa-heart:hover {
  background-color: none !important;
  color: #fea08b !important;
  border: none !important;
}

.learnMoreButton {
  background-color: white;
  border: none;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.learnMoreButton:hover {
  background-color: #fea08b;
  border: none;
  margin-top: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.selected {
  background-color: #ffc107 !important;
  color: black !important;
}
