/*wrapper*/
.home-wrapper {
  margin: 9vw;
}

/*secciones*/
.section {
  margin-bottom: 20px;
}
.sectionTitle {
  background: linear-gradient(#56f6c6,#a6029b);
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 8px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.col-3 {
  width: 18rem;
  margin-right: 10px;
}
.rowSection {
  overflow-x: scroll;

  width: 100%;
}
.text-center {
  margin-right: 8vw;
  margin-left: 8vw;
  width: 200px;
}

.sections-list {
  list-style-type: none;
}
