/*secciones Planetas*/
.planetsSection {
  margin-top: 40px;
}
/*singles*/
.imageSingle {
  width: 430px;
  height: 350px;
  object-fit: cover;
}
.cardBodySingle {
  align-content: center;
  text-align: center;
  margin-right: 5vw;
  margin-left: 5vw;
}
.mb-3 {
  border: none;
}
/*single-footer*/
.singleFooter {
  border-top: solid #dc3545 1px;
  margin-top: 20px;
  color: #dc3545;
  font-weight: 700;
}
