.form-login {
margin-left: 40%;
margin-right: 40%;
text-align: center;
}
.h-100 {
background: black;
}
footer{
    color: #56F6C6;
}
h4{
    padding-bottom: 5%;
    color: #56F6C6;
    
}
.sign{
    padding-top: 5%;
}
.btn-login{
    background-color: #56F6C6; 
    border-radius: 15px;
    height: 40px; 
    width: 100px;
   
}
.register{
    padding-top: 10%;
    color: white;
}   
.container-login{
    padding-top: 10%;
    margin-bottom: 3%;
    height: 750px;
}


