.form-login {
text-align: center;
}
.col-lg-12 {
  flex: 0 0 auto;
  width: 20%;
  margin: auto;
  display: inline-table;
}
.h-100 {
  background: black;
}
footer {
  color: #56f6c6;
}

h4 {
  padding-bottom: 5%;
  color: #56f6c6;
}
.sign {
  padding-top: 5%;
}

.btn-login{
    background-color: #56F6C6; 
    border-radius: 15px;
    height: 40px; 
    width: 100px;
   
}
.register{
    padding-top: 10%;
    color: white;
}   
.container-login{
    padding-top: 10%;
    margin-bottom: 3%;
    height: 750px;
}