.container-profile {
  height: 75vh;
  max-height: 1050px;
}

.profile-img {
  width: 120px;
  height: 120px;
}
.profile-footer {
  padding-top: 18rem;
  flex: auto;
}
.username {
  background: linear-gradient(#56f6c6, #a6029b);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (max-width: 768px) {
  .profile-img {
    width: 60px;
    height: 60px;
  }
}
