.container-form{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.container-register{
    padding-top: 8%;
    padding-bottom: 9%;
}

.form-label{
    color:  #56F6C6;
}
.form-check-label{
    color:  #56F6C6; 
}
.btn-create{
background-color: #56F6C6; 
border-radius: 15px;
height: 40px;
width: 200px;
}
.form-check-label{
    margin-right: 85%;
}
.form-check-input{
    border: solid 1px  #56F6C6;
    background-color: black;
   
}
.form-check-input:checked {
    border-color:none !important;
    background-color: #56F6C6;
}
.form-group{
    color:  #56F6C6;
    margin-bottom: 2%;
}
.register-footer{
    padding-top: 12rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}