.container-single{
    margin-top: 8%;
    margin-left: 10%;
    margin-bottom: 6%;
}
.information-album{
    color: #56f6c6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}